.empty{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}

img{
    filter: var(--filtro-imagem)
}

h3 {
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: var(--main-text-color)
}

p{
    font-family: 'Lato', sans-serif;
    color: var(--main-text-color)
}