.empty{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    filter: brightness(0) invert(.7);
    gap: 15px;
    color: var(--main-text-color)
}

.empty > h3 {
    font-family: Roboto, Helvetica Neue, sans-serif;
}

.empty > p{
    font-family: 'Lato', sans-serif;
}