#welcome-card{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 10px 12px 10px;
    box-sizing: border-box;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    font-size: 25px;
}

p{
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    color: var(--secondary-text-color);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
}