<div id="welcome-card" class="border">
    <h2>Ajude a encontrar pessoas desaparecidas</h2>
    <p>
        Bem-vindo ao People Finder!<br>
        Você pode pesquisar por pessoas desaparecidas no nosso sistema de busca
        integrado com o banco de dados da Polícia Judiciária Civil de Mato Grosso<br>
        Junte-se a nós nesta missão de trazer entes queridos de volta às suas famílias
    </p>    
    <rdev-button
        label="BUSCAR"
        icon="search"
        (onClick)="router.navigate(['search'])">
    </rdev-button>
</div>
