#search {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'filter-container list-container'
        'filter-container list-container';
}

.list-container, .filter-container{
    padding: 16px;
    box-sizing: border-box;
}

.filter-container{
    padding-right: 8px;
    grid-area: filter-container;
    max-width: 200px;
    min-width: 350px;
}

.list-container{
    padding-left: 8px;
    grid-area: list-container;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;

    gap: 8px;
}

.list{
    flex-grow: 1;
    overflow: auto;

    padding: 4px 0px 8px 0px;
}

@media (max-width: 900px) {
    .container{
        flex-direction: column;
    }
    #search {
        grid-template-areas:
            'filter-container filter-container'
            'list-container list-container';
    }
    .filter-container{
        width: 100%;
        padding: 16px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .list-container{
        padding: 16px;
    }
}