#search {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'filter-container list-container'
        'filter-container list-container';
}

.list-container, .filter-container{
    padding: 16px;
    box-sizing: border-box;
}

.filter-container{
    grid-area: filter-container;
}

.list-container{
    grid-area: list-container;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;

    gap: 8px;
}

.list{
    flex-grow: 1;
    overflow: auto;

    padding: 4px 8px 8px 8px;
}

@media (max-width: 1100px) {
    .container{
        flex-direction: column;
    }
    #search {
        grid-template-areas:
            'filter-container filter-container'
            'list-container list-container';
    }
    .filter-container{
        min-width: 400px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}