header {
    display: flex;
    padding: 16px;
    background-color: var(--main-background-color);
    box-sizing: border-box;
}

.logo-container{
    display: flex;
    align-items: center;
}

#logo-image{
    width: 40px;
    height: auto;
}

#logo-text{
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: var(--main-text-color);
    font-size: 20px;   
}

.logo-container:hover{
    cursor: pointer;
}
