header {
    display: flex;
    padding: 16px;
    background-color: var(--main-background-color);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
}

#logo-image{
    width: 40px;
    height: auto;
    color: #000;
}

#logo-text{
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: var(--main-text-color);
    font-size: 20px;   
}

.logo-container:hover{
    cursor: pointer;
}

.theme-button{
    user-select: none;
    color: var(--secondary-text-color);
}


.theme-button:hover {
    cursor: pointer;
    color: var(--main-text-color);
}

