<header>
    <div class="logo-container" (click)="router.navigate(['home'])">
        <img *ngIf="isDark" id="logo-image" src="../../../../../assets/svg/desaparecidos-white.svg" alt="logo">
        <img *ngIf="!isDark" id="logo-image" src="../../../../../assets/svg/desaparecidos-black.svg" alt="logo">
        <h1 id="logo-text">People Finder</h1>
    </div>
    <span *ngIf="isDark" (click)="toggleTheme()" class="material-symbols-outlined theme-button">
        brightness_7
    </span>
    <span *ngIf="!isDark" (click)="toggleTheme()" class="material-symbols-outlined theme-button">
        dark_mode
    </span>
</header>
