.dark {
    --body-background-color: rgba(37,40,45,255);
    --main-background-color: rgba(12,15,20,255);
    --main-text-color: rgba(216,217,220,255);
    --secondary-text-color: rgb(210, 217, 221);
    --border-color: rgba(201, 201, 201, 0.5);    
    --button-background-color: rgb(154, 174, 226);
    --button-background-color-hover: rgb(135, 155, 206);
    --button-text-color: rgba(12,15,20,255);
    --form-background-color: rgb(95, 95, 109);
    --form-placeholder-text-color: rgb(197, 197, 204);
    --filtro-imagem: brightness(0) invert(.7);
    --person-card-background: #ededed;
}

.light {
  --body-background-color: rgb(228, 223, 223);
  --main-background-color: rgb(207, 207, 207);
  --main-text-color: rgba(37, 40, 45, 1);
  --secondary-text-color: rgb(37, 40, 45);
  --border-color: rgba(37, 40, 45, 0.5);
  --button-background-color: rgb(136, 156, 207);
  --button-background-color-hover: rgb(118, 137, 185);
  --button-text-color: rgba(12,15,20);
  --form-background-color: rgb(210, 217, 221);
  --form-placeholder-text-color: rgb(95, 95, 109);
  --person-card-background: #ededed;
  --filtro-imagem: brightness(0) invert(.2);
}

html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    max-height: 100vh;
    background-color: var(--body-background-color);
}

.border{
    border-radius: 8px;
    border: solid 1px var(--border-color);
}

input[type="text"],
input[type="number"],
select {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    background-color: var(--form-background-color);
    color: var(--secondary-text-color)
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
select::placeholder {
    color: var(--form-placeholder-text-color)
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.9;
  cursor: pointer;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-whatsapp {
  background: #6c8f55;
  color: white;
}

.fa-instagram {
  background: #cf3636;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

